
#logoImage  {
	position: absolute;
	right:180px;
	top:0px;
	height:100px;

}

#Timer
{
	text-align: center;
	left: 47%;
	font-size: 30px;
	top: -35px;
	position: absolute;
	align: center;
	color: white;
}

#Team1
{
	position: absolute;
	text-align: center;
	padding-top: 12px;
	left: 28%;
	color: white;
}

#Team2
{
	text-align: center;
	position: absolute;
	padding-top: 12px;
	right: 28%;
	color: white;
}

#f0
{

}

#f1
{

}

#SingleLine
{
	left: 230px;
	top: 85px;
	position: absolute;
}

#DoubleLine
{
	left: 230px;
	top: 70px;
	position: absolute;
}

#TripleLine
{
	left: 230px;
	top: 49px;
	position: absolute;
}
